target/
*/target/
*.class
server-logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

*/.apt_generated
*/.classpath
*/.factorypath
*/.project
*/.settings
*/.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

*/.idea
*/*.iws
*/*.iml
*/*.ipr

dependency-reduced-pom.xml